<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookmario.mapper.BookMapper">

	<!-- 모든 상품 목록 -->
	<select id="getList" resultType="com.bookmario.domain.BookVO">
	<![CDATA[
		select * from book order by bookID DESC
	]]>
	</select>
	
	<!-- 검색 SQL -->
	<sql id="criteria">
		<trim prefix=" (" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							title like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'A'.toString()">
							author like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							category like #{category}
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	
	<!-- 페이징 처리 -->
	<!-- 현제 페이지에서 1을 뺀 숫자에 보여줄 페이지 개수를 곱함 2페이지 -1은 1페이지 x 16개 17번 상품부터 보여준다(0번부터 시작) -->
	<select id="getListWithPaging" resultType="com.bookmario.domain.BookVO">
	<![CDATA[
		select bookID, image, title, category
		from book
		where
	]]>
	<!-- 반복되는 쿼리 재활용 -->
	<include refid="criteria"></include>
	<![CDATA[
    	bookID > 0
    	order by bookID desc
    	limit #{amount} OFFSET (#{pageNum} - 1) * #{amount}
	]]>

	</select>

	<!-- 상품 등록 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="bookID">
		insert into book (image, bookISBN, title, price, author, publisher, totalPages, category, stock, content)
		values (#{image}, #{bookISBN}, #{title}, #{price}, #{author}, #{publisher}, #{totalPages}, #{category}, #{stock}, #{content})
	</insert>
	
	<!-- 상품 등록 전 시퀸스 ID 확인 -->
	<insert id="insertSelectKey">
		<selectKey keyProperty="bookID" order="BEFORE" resultType="long">
		select nextval('book_bookid_seq');
		</selectKey>
		
		insert into book (bookID, image, bookISBN, title, price, author, publisher, totalPages, category, stock, content)
		values (#{bookID}, #{image}, #{bookISBN}, #{title}, #{price}, #{author}, #{publisher}, #{totalPages}, #{category}, #{stock}, #{content})
	</insert>
	
	<!-- 상품 상세정보 -->
	<select id="read" resultType="com.bookmario.domain.BookVO">
		select * from book where bookID = #{bookID}
	</select>
	
	<!-- 상품 수정 -->
	<update id="update">
		update book 
			set 
				image = #{image},
				title = #{title},
				bookISBN = #{bookISBN},
				price = #{price},
				author = #{author},
				publisher = #{publisher},
				totalPages = #{totalPages},
				category = #{category},
				stock = #{stock},
				content = #{content}
			where bookID = #{bookID}
	</update>
	
	<!-- 상품 삭제 -->
	<delete id="delete">
		delete from book where bookID = #{bookID}
	</delete>

	<!-- 모든 상품 데이터 개수 -->
	<select id="getTotalCount" resultType="int">
		select count(*) from book where <include refid="criteria"></include> bookID > 0
	</select>
	
</mapper>