<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookmario.mapper.CartMapper">

	<!-- 장바구니 생성 -->
	<insert id="create" useGeneratedKeys="true" keyProperty="cartID">
		insert into carts (userID, status) values (#{userID}, #{status})
	</insert>

	<!-- 상품 추가 -->
	<insert id="add" useGeneratedKeys="true" keyProperty="itemID">
		insert into items (cartID, bookID, amount) values (#{cartID}, #{bookID}, #{amount})
	</insert>

	<!-- 상품 목록 -->
	<select id="getItems">
		select * from items where cartID = #{cartID}
	</select>

	<!-- 주문 목록 -->
	<update id="order">
		update carts set status = 1 where cartID = #{cartID}
	</update>
	
	<!-- 상품 삭제 -->
	<delete id="delete">
		delete from items where itemID = #{itemID}
		<!-- delete from items where bookID = #{bookID} -->
	</delete>
	
	<!-- 중복 체크 -->
    <select id="checkItemExists" parameterType="map" resultType="int">
    	select count(*)
    	from items
    	where cartID = #{cartID} AND bookID = #{bookID}
    </select>
    
    <!-- 도서 조회 -->
    <select id="getItemByID" parameterType="java.lang.Long" resultType="com.bookmario.domain.ItemVO">
    	select *
    	from items
    	where itemID = #{itemID}
	</select>
	
	<!-- 아이템 수량 업데이트 쿼리 -->
    <update id="updateItemAmount" parameterType="com.bookmario.domain.ItemVO">
        update items
        set amount = #{amount}
        where itemID = #{itemID}
    </update>
    
    <!-- 상품이 존재하는지 확인하는 쿼리 -->
    <select id="countItemsInCart" parameterType="long" resultType="int">
        select count(*) 
        from items
        where cartID = #{cartID}
    </select>
    
    <!--  -->
    <select id="getCartIdByUsername" parameterType="String" resultType="Long">
    	SELECT cartID
    	FROM carts
    	WHERE userID = #{userID} AND status = 0
	</select>
	
</mapper>